{% extends 'baseFront.html.twig' %}

{% block title %}Réanitialisation de mot de passe{% endblock %}

{% block body %}

<body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <div class="pt-1 pb-1">
                    <h4 class="card-title text-center pb-1 fs-2" style="color:#ffc800;"><i>AURORA<i></h4>
                  </div>
            </div>
        </nav>


        
        <!-- Masthead-->
        <header class="masthead">

        <div class="container">
          <div class="row justify-content-center">
            
        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              
              <div class="containerr ">

                <div class="card-body">
              
             <h1>Réanitialisation de mot de passe</h1>
             <br>
             <br>
            {{ form_start(requestPassForm) }}

                <div class="col-12">
                    <label for="yourEmail" class="form-label" style="color:#ffc800;"><b>Entrer votre e-mail</b></label>
                    {{ form_widget(requestPassForm.email,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(requestPassForm.email,{'attr':{'class':'text-danger'}}) }}
                <br>
                <button class="btn btn-warning w-50" type="submit" style="color:white;">Envoyer</button>
                <br>
                <br>
                <div class="col-12">
                <a href="{{ path('app_front') }}" align="start"><b>Retour à la page d'accueil</b></a>
                </div>
            {{ form_end(requestPassForm) }}

            
          </div>
        </div>
        
            

            </div>
          </div>
        </div>    
           

        
        
        </header>
        
    
       
        
    </body>

{% endblock %}
