{% extends 'baseBack.html.twig' %}

{% block title %}Add Client !{% endblock %}

<h1>repondre a une reclamation</h1>

{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
<table>
<tr>
<td>{{form_label(form.status,'status')}}</td>
<td>{{form_widget(form.status)}}</td>
<td>{{form_errors(form.status)}}</td>
</tr>
<tr>
<td>{{form_label(form.reponse,'ajouter une reponse')}}</td>
<td>{{form_widget(form.reponse)}}</td>
<td>{{form_errors(form.reponse)}}</td>
</tr>
<tr>
<td>{{form_widget(form.save)}}</td>
</tr>


{{form_end(form)}}
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}