<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        


        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        
    </head>






    <body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Liste des évènements :</a>
</nav>

    </br>
      <div class= "container">
      <a href="#">
                 <img src="assets/assets/img/aurora.png" alt="" class="rounded-circle" style="width:300px;height:270px;">
              </a>

      <center><h2><FONT face="Script" color="red" size="100pt"><u> <I>AURORA  </I></u></FONT></h2></center>
<br>
 


    <center><h2><FONT face="Script" color="" size="30pt"> <I>Liste des participants  </I></FONT></h2></center>

       
            <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Détails</h5>
            <table class="table table-striped">
           {#{{form(studentSearch)}}#}

          {#  <table class="table table-light table_hover table_bordered"> #}
                <thead  class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">TELEPHONE</th>
                    </tr>
                </thead>
                 <tbody>
                 {% for i in tableauParticipationns %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.descriptionPn}}</td>
                        <td>{{i.usernameev}}</td>
                        <td>{{i.emailev}}</td>
                        <td>{{i.numtelev}}</td>
                       
                        
                    </tr>   


                    
                    {% endfor %}
                  <a href="{{ path('app_participationns_data_download') }}"><button type="button" class="btn btn-success badge-pill">PDF</button></a>
      </tbody>
</table>
</div>

            </div>
                </div>
          </div>
    </div>
    </body>
    
</html>


