{% extends "baseBack.html.twig" %} 

{% block title %}Ajouter service !{% endblock %}
    {% block body %}
<body>
     <main id="main" class="main">
  <div>

        
       
            <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Ajouter un service</h5>
           {{ form_start(form, { 'attr': {'novalidate': 'novalidate'} }) }}
                                            <div class="form-group">
                                                {{ form_label(form.titreS, 'Titre :') }}
                                                {{ form_widget(form.titreS, { 'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.titreS, { 'attr': {'class': 'text-danger'} }) }}
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                {{ form_label(form.descriptionS, 'Description :') }}
                                                {{ form_widget(form.descriptionS, { 'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.descriptionS, { 'attr': {'class': 'text-danger'} }) }}
                                            </div>
                                            </br>
                                            <div class="form-group">
                                                {{ form_label(form.typeS, 'Type :') }}
                                                {{ form_widget(form.typeS, { 'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.typeS, { 'attr': {'class': 'text-danger'} }) }}
                                            </div></br>
                                            
                                            <div class="form-group">
                                                {{ form_label(form.image, 'Image :') }}
                                                {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.image, { 'attr': {'class': 'text-danger'} }) }}
                                            </div></br>
                                            <div class="form-group">
                                                {{ form_label(form.dateS, 'Date :') }}
                                                {{ form_widget(form.dateS, { 'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.dateS, { 'attr': {'class': 'text-danger'} }) }}
                                            </div>
                                            </br>
<div class="d-flex justify-content-center">
  <a href="{{ path('app_addreservation') }}">
                                                        <button type="submit" class="btn btn-primary"  font-size=" 15px;" padding="10px 20px;">Enregistrer</button>
</div>
                                            {{ form_end(form) }}
</div>
            </div>
                </div>
          </div>
          </div>
          </main>
          </body>
        {% endblock %}
    