{% extends "baseFront.html.twig" %}
{% block title %}Reclamation{% endblock %}
    

    {% block body2 %}
    <style>
.form-container {
        display: flex;
        justify-content: center;
    }

    .form-field {
        display: block;
        margin: 10px auto;
    }
    .reclamation {
  position: relative;
  height: 560px;
  width: 405px;
  margin: 100px auto;
  padding: 60px 60px;
  background: #0000ffff  
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}
.button.-regular {
  color: #202129;
  background-color: #f2f2f2;
  
  &:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }
  
  &:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
  
}
    </style>
<body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
          
        </nav>
        <!-- Masthead-->
        <header class="masthead" style="padding-top: 70px;">
        
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        
        </div>
        <div class="row">
        <div class="reclamation">
    <div class="col-md-12">
   
        <h1> envoyer une reclamation </h1>

      <div class="form-container">
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}})}}
    <div class="form-field">
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
        {{ form_errors(form.type) }}
    </div>
    <div class="form-field">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>
    <div class="form-field">
        <label>Email</label>
        {{ form_widget(form.emailreclamation) }}
        {{ form_errors(form.emailreclamation) }}
    </div>
    <div class="form-field">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>
    
    {{form_widget(form.save,{'attr': {'class': 'button -regular center'}})}}
    {{ form_end(form) }}
</div> 
  
          
        </div>
      </div>
      </div>
                </div>   

        </header>
        
        
     
    </body> 
  {% endblock %}   
