

{% block body %}

<body>



<td><a href="{{path('ajouter_reclamation')}}"><button type="button">ajouter</button></a></td>
        {% if reclamations is not empty %}
        
            <table border="1">
                
                <tr>
                    <th>type</th>
                    <th>nom client</th>
                    <th>description</th>
                    <th>status</th>
                    <th>date reclamation</th>
                    <th>repondre</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
                {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.type }}</td>
                        <td>{{reclamation.email}}</td>
                        <td>{{reclamation.description}}</td>
                        <td>{{reclamation.status}}</td>
                        <td>{{reclamation.datereclamation.format('Y-m-d H:i:s')}}</td>
                        <td><a href="{{path('ajouter_reponse',{'id':reclamation.id})}}"><button type="button">repondre</button></a></td>
                        <td><a href="{{path('update_reclamation',{'id':reclamation.id})}}"><button type="button">update</button></a></td>
                        <td><a href="{{path('delete_reclamation',{'id':reclamation.id})}}"><button type="button">delete</button></a></td>
                        
                    </tr>
                {% endfor %}
               
            </table>
        {% else %}
            <p>No article found.</p>
        {% endif %}
    </div>
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

</body>

{% endblock %}
