
{% extends "baseFront.html.twig" %}
{% block title %}List des Reclamation{% endblock %}




{% block body2 %}
<style>
table {
  table-layout: fixed;
  width: 100%;
}

th {
  white-space: nowrap;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

</style>

<body id="page-top">
<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
 
</script>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
          
        </nav>       
        <!-- Masthead-->
        <header class="masthead">
        
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        
        </div>
        <h2>Cherche une Reclamation</h2>
        <div class="sidebar-search">
        <div class="input-group custom-search-form">
        <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" name="search" id="search" class="input-search" placeholder="Type to Search...">
    
  </div>    
</div>

        </div>
        
        <form action="">
  <label for="Reclamation">Trier par:</label>
 <select id="orderBy" name="Reclamation" onchange="location = this.value;">
 <option value=""></option>
   <option value="{{ path('reclamation_orderbytype') }}">Type, A à Z</option>
   <option value="{{ path('reclamation_orderbytypeDESC') }}">Type, Z à A</option>
   <option value="{{ path('reclamation_orderbynom') }}">Nom A à Z </option>
   <option value="{{ path('reclamation_orderbynomDESC') }}">Nom Z à A</option>
   <option value="{{ path('reclamation_orderbydate') }}">Date de Reclamation, Croissants</option>
   <option value="{{ path('reclamation_orderbydateDESC') }}">Date de Reclamation, Décroissants</option>
</select>
</a>
</form>
       {% block table %}
        <div class="row">
        

        {% if reclamations is not empty %}
        
            <table class="table table-striped table-hover">
            <thead>
                
                <tr>
                    <th scope="col">type</th>
                    <th scope="col">email</th>
                    <th scope="col">description</th>
                    <th scope="col">status</th>
                    <th scope="col">date reclamation</th>
                    <th scope="col">envoyer un message</th>
                    <th scope="col">mise a jour</th>
                    <th scope="col">PDF</th>
                    
                </tr>
                </thead>
  <tbody id="myTable">
                {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.type }}</td>
                        <td>{{reclamation.emailreclamation}}
                        <td>{{reclamation.description}}</td>
                        {% if reclamation.status == 0 %}
                                <td>En cours</td>
                                {% elseif reclamation.status ==1 %}
                                <td>Accepter</td>
                                {% else %}
                                <td>Refuser</td>
                              {% endif %}
                        
                        <td>{{reclamation.datereclamation.format('Y-m-d H:i:s')}}</td>
                        <td><a href="{{path('ajouter_reponse',{'id':reclamation.id})}}"><button type="button">ajouter reponse</button></a></td>
                        <td><a href="{{path('update_reclamation',{'id':reclamation.id})}}"><button type="button">mise a jour</button></a></td>
                        <td><a href="{{path('app_reclamationpdf',{'id':reclamation.id})}}"><button type="button">PDF</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
           
        {% else %}
            <p>No article found.</p>
        {% endif %}
    </div>
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% endblock %}

</body>

{% endblock %}
