{% extends 'baseBack.html.twig' %}

{% block title %}List Client!{% endblock %}



{% block body %}
<body>
<style>
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: #000000;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: #000000;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

  <main id="main" class="main">

      <div class="pagetitle">
          <h1>List Clients</h1>
        </div><!-- End Page Title -->

    {% for message in app.flashes('Success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

        <div class="sidebar-search">
        <div class="input-group custom-search-form">
        <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" name="search" id="search" class="input-search" placeholder="Type to Search...">
    
  </div>    
</div>

        </div>

  <table class="table table-bordered">
    <thead>
      <tr>
      <th scope="col">Id</th>
        <th scope="col">Type</th>
        <th scope="col">Nom Client</th>
        <th scope="col">Email</th>
        <th scope="col">description</th>
        <th scope="col">status</th>
        <th scope="col">date reclamation</th>
      </tr>
    </thead>
    <tbody id="myTable">
       {% for reclamation in reclamations %}
          <tr>
                  <td scope="row">{{reclamation.id}}</td>
                  <td scope="row">{{reclamation.type}}</td>
                  <td>{{reclamation.nom}}</td>
                  <td>{{reclamation.emailreclamation}}</td>
                  <td>{{reclamation.description}}</td>
                  <td>{{reclamation.status}}</td>
                  <td>{{reclamation.datereclamation.format('Y-m-d H:i:s')}}</td>
                  <td>
                      <a href="{{path('ajouterback_reponse',{'id':reclamation.id})}}" class="btn btn-sm btn-primary">
                          <i class="bi bi-plus"></i>
                      </a>
                      <a href="{{path('updateback_reclamation',{'id':reclamation.id})}}" class="btn btn-sm btn-warning">
                          <i class="fa fa-edit"></i>
                      </a>
                      <a href="{{path('deleteback_reclamation',{'id':reclamation.id})}}" class="btn btn-sm btn-danger">
                          <i class="fa fa-trash"></i>
                      </a>
                      <td>
                      <a href="{{ path('afficheback_reponse',{id : reclamation.id}) }}" class="btn btn-sm btn-primary">
                          <i class="fa fa-eye"></i>
                      </a>
                  </td>
                  
          </tr>
      {% endfor %}    
    </tbody>
  </table>
{% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
  </main>
  
</body>
{% endblock %}