{% extends 'baseBack.html.twig' %}

{% block title %}List Client!{% endblock %}



{% block body %}
<body>

  <main id="main" class="main">

      <div class="pagetitle">
          <h1>List Clients</h1>
        </div><!-- End Page Title -->

    {% for message in app.flashes('Success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

  <table class="table table-bordered">
    <thead>
      <tr>
      <th scope="col">Id</th>
        <th scope="col">Type</th>
        <th scope="col">Nom Client</th>
        <th scope="col">description</th>
        <th scope="col">status</th>
        <th scope="col">date reclamation</th>
      </tr>
    </thead>
    <tbody>
       {% for reclamation in reclamations %}
          <tr>
                  <td scope="row">{{reclamation.id}}</td>
                  <td scope="row">{{reclamation.type}}</td>
                  <td>{{reclamation.nom}}</td>
                  <td>{{reclamation.description}}</td>
                  <td>{{reclamation.status}}</td>
                  <td>{{reclamation.datereclamation.format('Y-m-d H:i:s')}}</td>
                  <td>
                      <a href="{{path('ajouterback_reponse',{'id':reclamation.id})}}" class="btn btn-sm btn-primary">
                          <i class="bi bi-plus"></i>
                      </a>
                      <a href="{{path('updateback_reclamation',{'id':reclamation.id})}}" class="btn btn-sm btn-warning">
                          <i class="fa fa-edit"></i>
                      </a>
                      <a href="{{path('deleteback_reclamation',{'id':reclamation.id})}}" class="btn btn-sm btn-danger">
                          <i class="fa fa-trash"></i>
                      </a>
                      <td>
                      <a href="{{ path('afficheback_reponse',{id : reclamation.id}) }}" class="btn btn-sm btn-primary">
                          <i class="fa fa-eye"></i>
                      </a>
                  </td>
                  
          </tr>
      {% endfor %}    
    </tbody>
  </table>
{% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
  </main>
  
</body>
{% endblock %}