
{% extends "baseFront.html.twig" %}
{% block title %}List des Reclamation{% endblock %}




{% block body2 %}
<style>
table {
  table-layout: fixed;
  width: 100%;
}

th {
  white-space: nowrap;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}



.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}



</style>

<body id="page-top">
<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
const selectEl = document.querySelector('#orderBy');
  const savedOption = localStorage.getItem('selectedOption');
  if (savedOption) {
    selectEl.value = savedOption;
  }

  // Save the selected option to Local Storage whenever the user changes it
  selectEl.addEventListener('change', () => {
    const selectedOption = selectEl.value;
    localStorage.setItem('selectedOption', selectedOption);
  });

 
</script>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
          
        </nav>       
        <!-- Masthead-->
        <header class="masthead">
        
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        
        </div>
        <h2>Cherche une Reclamation</h2>
        <div class="sidebar-search">
        <div class="input-group custom-search-form">
        <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" name="search" id="search" class="input-search" placeholder="Type to Search...">
    
  </div>    
</div>

        </div>
        
        <form action="">
  <label for="Reclamation">Trier par:</label>
 <select id="orderBy" name="Reclamation" onchange="location = this.value;">
 <option value=""></option>
   <option value="{{ path('reclamation_orderbytype') }}">Type, A à Z</option>
   <option value="{{ path('reclamation_orderbytypeDESC') }}">Type, Z à A</option>
   <option value="{{ path('reclamation_orderbynom') }}">Nom A à Z </option>
   <option value="{{ path('reclamation_orderbynomDESC') }}">Nom Z à A</option>
   <option value="{{ path('reclamation_orderbydate') }}">Date de Reclamation, Croissants</option>
   <option value="{{ path('reclamation_orderbydateDESC') }}">Date de Reclamation, Décroissants</option>
</select>
</a>
</form>
       {% block table %}
        <div class="row">
        

        {% if reclamations is not empty %}
        
            <table class="container">
            <thead class="thead-dark">
                
                <tr>
                    <th scope="col"><h1>type</h1></th>
                    <th scope="col"><h1>email</h1></th>
                    <th scope="col"><h1>description</h1></th>
                    <th scope="col"><h1>status</h1></th>
                    <th scope="col"><h1>date reclamation</h1></th>
                    <th scope="col"><h1>consulter discution</h1></th>
                    <th scope="col"><h1>mise a jour</h1></th>
                </tr>
                </thead>
  <tbody id="myTable">
                {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.type }}</td>
                        <td>{{reclamation.emailreclamation}}
                        <td>{{reclamation.description}}</td>
                        <td>{{reclamation.status}}</td>
                        <td>{{reclamation.datereclamation.format('Y-m-d H:i:s')}}</td>
                        <td><a href="{{path('ajouter_reponse',{'id':reclamation.id})}}"><button type="button">consulter</button></a></td>
                        <td><a href="{{path('update_reclamation',{'id':reclamation.id})}}"><button type="button">mise a jour</button></a></td>
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
<style>
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
           
        {% else %}
            <p>No article found.</p>
        {% endif %}
    </div>
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% endblock %}

</body>

{% endblock %}
