{% extends "baseFront.html.twig" %}
{% block title %}List des Réservations{% endblock %}




{% block body %}
<style>
table {
  table-layout: fixed;
  width: 100%;
}

th {
  white-space: nowrap;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}




</style>

<body id="page-top">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
const selectEl = document.querySelector('#orderBy');
  const savedOption = localStorage.getItem('selectedOption');
  if (savedOption) {
    selectEl.value = savedOption;
  }

  // Save the selected option to Local Storage whenever the user changes it
  selectEl.addEventListener('change', () => {
    const selectedOption = selectEl.value;
    localStorage.setItem('selectedOption', selectedOption);
  });

 
</script>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <div class="pt-1 pb-1">
                    <h4 class="card-title text-center pb-1 fs-2" style="color:#ffc800;"><i>AURORA<i></h4>
                  </div>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('app_evenementAffichageFront')}}">Evenements</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <li class="dropdown" ><a  href="#">reclamation<i class="bi bi-chevron-down"></i></a>
                                    <ul>
                                    <li class="dropdownitem"><a href="{{path('ajouter_reclamation')}}">Envoyer une Reclamation</a></li>
                                    <li class="dropdownitem"><a href="{{path('affiche_reclamation')}}">Consulter mes Reclamation</a></li>
                                    </ul>
                        </li>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                           {% if app.user %}

                                <li class="dropdown"><a href="#" style="color:#ffc800;"><span>{{ app.user.username }}</span> <i class="bi bi-chevron-down"></i></a>
                                    <ul>
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center" href="{{ path('app_profilClient') }}">
                                                <i class="bi bi-person"></i>
                                                <span>My Profile</span>
                                            </a>
                                        </li>
                                        <li style="color:#ffc800;">
                                            <hr class="dropdown-divider">
                                        </li>   
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">
                                                <i class="bi bi-box-arrow-right"></i>
                                                <span>Sign Out</span>
                                            </a>
                                        </li>
                                    </ul><!-- End Profile Dropdown Items -->
                                </li><!-- End Profile Nav -->
                            {% else %}
                            
                                <li class="dropdown" ><a href="#"><span >S'authentifier</span> <i class="bi bi-chevron-down"></i></a>
                                    <ul>
                                    <li><a href="{{path('app_login')}}">Connexion</a></li>
                                    <li><a href="{{path('app_register')}}">Inscription</a></li>
                                    </ul>
                                </li>
                                
                            {% endif %}
                        </div>
                        
                    </ul>
                </div>
            </div>
        </nav>
          
        </nav>       
        <!-- Masthead-->
        <header class="masthead">
        
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        
        </div>
        {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        <h2>Voici vos réservations</h2>
         <div class="d-flex justify-content-center">
        <div class="sidebar-search">
        <div class="input-group custom-search-form">
        <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" name="search" id="search" class="input-search" placeholder="Type to Search..."><br>
    
  </div>   <br> 
</div><br>
</div><br>
        </div><br>
    

 

       {% block table %}
        <div class="row">
      
            <table class="table table-striped table-hover">

                <tr>
                    <th scope="col">ID</th>
                        <th scope="col">Numero</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">NumeroTel</th>
                        <th scope="col">Date</th>
                        <th scope="col">Service</th>
                        <th class="text-right">Actions</th>
                </tr>
                </thead>
  <tbody id="myTable">
                {% for reservation in reservations %}
                    <tr>
                       <td>{{reservation.id}}</td>
                        <td>{{reservation.numero}}</td>
                        <td>{{reservation.userName}}</td>
                        <td>{{reservation.email}}</td>
                        <td>{{reservation.numeroTel}}</td>
                        <td>{{reservation.dateR.format('Y-m-d-H:i')}}</td>
                        <td>{{reservation.Service.titreS}}</td>


                        <td>
                        <a href="{{ path('app_updatereservationUser',{id:reservation.id}) }}"><button type="button" class="btn btn-outline-secondary btn-sm mr-2">Editer</button></a>
                        <form method="post" action="{{ path('app_deletereservationUser', {'id': reservation.id}) }}" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Supprimer</button>
                    </form>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
           
        
    </div>
    
    {% endblock %}

</body>

{% endblock %}