{% extends 'baseBack.html.twig' %}

{% block title %}Edit Client!{% endblock %}



{% block body %}
<body>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
    </div><!-- End Page Title -->

    {% for message in app.flashes('Success') %}
                            <div class="alert alert-success w-50">
                                {{ message }}
                            </div>
                        {% endfor %}
            {% for message in app.flashes('Warning') %}
                <div class="alert alert-warning w-50">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('Danger') %}
                <div class="alert alert-danger w-50">
                    {{ message }}
                </div>
            {% endfor %}

        <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                <img src="assets/img/profilImg1.jpg" alt="Profile" class="rounded-circle">
                <h2>{{ app.user.email }}</h2>
                <h3>Admin</h3>
                <div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
                </div>
            </div>

            </div>

            <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">

                    <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">À propos</button>
                    </li>

                    <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editer le profil</button>
                    </li>

                    <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Changer le mot de passe</button>
                    </li>

                </ul>
                <div class="tab-content pt-2">

                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h5 class="card-title">About</h5>
                    <p class="small fst-italic">Admin AURORA.</p>

                    <h5 class="card-title">Détails du profil</h5>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Nom et prénom</div>
                        <div class="col-lg-9 col-md-8">{{ app.user.username }}</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">Role</div>
                        <div class="col-lg-9 col-md-8">Chef service</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">Adresse</div>
                        <div class="col-lg-9 col-md-8">{{ app.user.fullAddress }}</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">Téléphone</div>
                        <div class="col-lg-9 col-md-8">(+216) {{ app.user.numTel }}</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">E-mail</div>
                        <div class="col-lg-9 col-md-8">{{ app.user.email }}</div>
                    </div>

                    </div>

                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                    <!-- Profile Edit Form -->
                    {{ form_start(modifForm) }}
                        <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                            <img src="assets/img/profilImg1.jpg" alt="Profile">
                            <div class="pt-2">
                            <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                            <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                        </div>
                        
                        <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Name complète</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form_widget(modifForm.username,{'attr':{'class':'form-control'}})}}
                        </div>
                        {{ form_errors(modifForm.username,{'attr':{'class':'form-control'}}) }}
                        </div>

                        <div class="row mb-3">
                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form_widget(modifForm.fullAddress,{'attr':{'class':'form-control'}}) }}
                        </div>
                            {{ form_errors(modifForm.fullAddress,{'attr':{'class':'text-danger'}}) }}
                        </div>

                        <div class="row mb-3">
                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Numéro téléphone</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form_widget(modifForm.numTel,{'attr':{'class':'form-control'}}) }}
                        </div>
                            {{ form_errors(modifForm.numTel,{'attr':{'class':'text-danger'}}) }}
                        </div>

                        <div class="row mb-3">
                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
                        </div>
                        </div>

                        <div class="row mb-3">
                        <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
                        </div>
                        </div>

                        <div class="row mb-3">
                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
                        </div>
                        </div>

                        <div class="row mb-3">
                        <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
                        </div>
                        </br>
                        </br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
                        </div>
                        </div>
                    {{ form_end(modifForm) }}
                    <!-- End Profile Edit Form -->

                    </div>

                    <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->

                    {{ form_start(passForm) }}
                        <div class="row mb-3">
                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Entrer votre Mot de passe</label>
                            <div class="col-md-8 col-lg-9">
                                {{ form_widget(passForm.password.first,{'attr':{'class':'form-control'}}) }}
                                <div class="invalid-feedback">S'il vous plait entrez une mot de passe valide!</div>
                            </div>
                            {{ form_errors(passForm.password,{'attr':{'class':'text-danger'}}) }}
                        </div>
                        <br>

                        <div class="row mb-3">
                            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmation votre mot de passe</label>
                            <div class="col-md-8 col-lg-9">
                                {{ form_widget(passForm.password.second,{'attr':{'class':'form-control'}}) }} 
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    {{ form_end(passForm) }}

                    </div>

                </div><!-- End Bordered Tabs -->

                </div>
            </div>

            </div>
        </div>
        </section>
</main>
       </body>     
{% endblock %}