<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        


        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        
    </head>






    <body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Liste des évènements :</a>
</nav>

    </br>
      <div class= "container">
       
            <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Détails</h5>
            <table class="table table-striped">
           {#{{form(studentSearch)}}#}

          {#  <table class="table table-light table_hover table_bordered"> #}
                <thead  class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TITRE</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">IMAGE</th>
                        <th scope="col">DATE</th>
                        <th scope="col">TYPE</th>

                    </tr>
                </thead>
                 <tbody>
                 {% for i in tableauEvenement %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.titreev}}</td>
                        <td>{{i.descriptionev}}</td>
                        <td>
                        <img src="{{asset('uploads/evenement/'~ i.imageev)}}" alt="photo de profil"></td>
                        <td>{{i.dateev.format('Y-m-d-H:i')}}</td>
                        <td>{{i.typeev}}</td>

                        
                    </tr>   
                    {% endfor %}
                    <a href="{{ path('app_evenement_data_download') }}"><button type="button" class="btn btn-success badge-pill">télécharger la liste</button></a>
      </tbody>
</table>
</div>
            </div>
                </div>
          </div>
    </div>
    </body>
    
</html>


