<h1>modifier evenements</h1>

{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
<table>
<tr>
<td>{{form_label(form.titreev,'titreev')}}</td>
<td>{{form_widget(form.titreev)}}</td>
<td>{{form_errors(form.titreev)}}</td>
</tr>
<tr>
<td>{{form_label(form.descriptionev,'descriptionev')}}</td>
<td>{{form_widget(form.descriptionev)}}</td>
<td>{{form_errors(form.descriptionev)}}</td>
</tr>
<tr>
<td>{{form_label(form.imageev,'imageev')}}</td>
<td>{{form_widget(form.imageev)}}</td>
<td>{{form_errors(form.imageev)}}</td>

</tr>

<tr>
<td>{{form_label(form.dateev,'dateev')}}</td>
<td>{{form_widget(form.dateev)}}</td>
<td>{{form_errors(form.dateev)}}</td>

</tr>

<tr>
<td>{{form_label(form.typeev,'typeev')}}</td>
<td>{{form_widget(form.typeev)}}</td>
<td>{{form_errors(form.typeev)}}</td>

</tr>
</table>
{{form_widget(form.save)}}
{{form_end(form)}}
